.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:5vw;
}

.inputArea {
  display: flex;
  width: 20vw;
  gap:10px;
}

.todoList {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  gap:1vw;
}

.error {
  color: red;
}